Assets/
Win32/
__history/
*.dcu
*.local
*.~dsk
*.dsk
*.identcache
Dependancies/image32_4.1/Examples/
Dependancies/image32_4.1/Installation.txt
Dependancies/image32_4.1/ReadMe.txt
Source/uSecrets.pas

*.bat
*.exe
*.rsm
Win64/Debug/settings.json
Win64/Release/settings.json
Win64/Debug/settingsDel.json
SampleImages/compressed/test-1.jpg
SampleImages/compressed/test-1_thumbnail.jpg
SampleImages/test-2.jpg
SampleImages/test-1.jpg
